# ─── Entorno virtual ─────────────────────────────
env/

# ─── Python ──────────────────────────────────────
__pycache__/
*.py[cod]
*.egg-info/

# ─── Jupyter ─────────────────────────────────────
.ipynb_checkpoints/

# ─── Datos intermedios / procesados ─────────────
# ignorar TODO dentro de interim y processed
data/interim/*
data/processed/*
# pero trackear su .gitkeep para conservar la carpeta
!data/interim/.gitkeep
!data/processed/.gitkeep

# ─── RAW ─────────────────────────────────────────
# ignorar todo
data/raw/*
# excepto el zip que nos importa
!data/raw/Base-sismos-2024.zip
# y el .gitkeep si quieres conservar el dir vacío
!data/raw/.gitkeep

# ─── Otros ignorables ────────────────────────────
.DS_Store
outputs/

lightning_logs/

checkpoints/
# ─── (opcional) Models ───────────────────────────
# si no quieres versionar los .pkl:
# models/*
# !models/.gitkeep
